### **I/ Preprocessing**

In [161]:
import pandas as pd
import numpy as np

In [162]:
dienthoai = pd.read_csv("DienThoai.csv")
dienthoai.head(3)

,Type,Title,Link,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Return,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,Điện thoại OPPO FIND N3 (16GB/512GB) - Hàng ch...,https://www.lazada.vn/products/dien-thoai-oppo...,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,30 Ngày Trả Hàng Miễn Phí,99%,100%,75%,['0'],['0'],['0'],['0'],['0']
1,dien thoai,[Trả góp 0%] Apple iPhone 15 Pro 1TB Chính hãn...,https://www.lazada.vn/products/tra-gop-0-apple...,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,30 Ngày Trả Hàng Miễn Phí,99%,100%,85%,['0'],['0'],['0'],['0'],['0']
2,dien thoai,Điện thoại Samsung Galaxy S24 Ultra 12GB/1TB -...,https://www.lazada.vn/products/dien-thoai-sams...,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,30 Ngày Trả Hàng Miễn Phí,90%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['2']

In [163]:
#Check missing value
dienthoai.isnull().sum().sort_values(ascending=False)

Total_sold        684
Sale_off          667
Preview           665
Return            663
Price_original    268
Ship_price        175
Chat_response       8
Sale_rating         8
Ship_on_time        8
Four_star           0
Three_star          0
Two_star            0
One_star            0
Type                0
Title               0
Location            0
Price_sale          0
Link                0
Five_star           0
dtype: int64

- Remove the columns **Title** & **Link** because they are not necessary.
- Remove columns **Return** because:
    * it has too many NULL values, nearly 50% of the total data.
    * it is not relevant to the hypothesis being used.

In [164]:
#Drop Title, Link, Return
new_data = dienthoai.drop(columns=['Title', 'Link', 'Return'], axis=1)
new_data.head(3)

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,99%,100%,75%,['0'],['0'],['0'],['0'],['0']
1,dien thoai,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,99%,100%,85%,['0'],['0'],['0'],['0'],['0']
2,dien thoai,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,90%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['2']

In [165]:
#Display the unique values of columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['99%' '90%' '98%' '91%' '94%' '92%' '97%' 'Không đủ thông tin' '100%'
 '95%' '87%' '82%' '79%' '96%' 'Nhà bán hàng mới' '93%' '88%' '85%' '83%'
 nan '75%']

['100%' 'Không đủ thông tin' '82%' '99%' '98%' '68%' '80%' '75%' '83%'
 '95%' '33%' '91%' '96%' '28%' nan '66%' '50%' '57%' '81%' '25%' '55%'
 '78%' '85%' '14%']

['75%' '85%' '100%' '90%' '95%' '87%' '33%' 'Không đủ thông tin' '50%'
 '97%' '91%' '76%' '80%' '66%' '99%' '83%' '88%' '71%' '92%' '40%' '86%'
 '60%' nan '96%' '94%' '98%' '78%' '89%' '57%' '73%' '37%' '93%']

- We will replace the cells **Không đủ thông tin** & **Nhà bán hàng mới** to NULL.

In [166]:
new_data['Sale_rating'].replace(['Nhà bán hàng mới', 'Không đủ thông tin'], np.nan, inplace=True)
new_data['Ship_on_time'].replace(['Không đủ thông tin'], np.nan, inplace=True)
new_data['Chat_response'].replace(['Không đủ thông tin'], np.nan, inplace=True)

In [167]:
#Check columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['99%' '90%' '98%' '91%' '94%' '92%' '97%' nan '100%' '95%' '87%' '82%'
 '79%' '96%' '93%' '88%' '85%' '83%' '75%']

['100%' nan '82%' '99%' '98%' '68%' '80%' '75%' '83%' '95%' '33%' '91%'
 '96%' '28%' '66%' '50%' '57%' '81%' '25%' '55%' '78%' '85%' '14%']

['75%' '85%' '100%' '90%' '95%' '87%' '33%' nan '50%' '97%' '91%' '76%'
 '80%' '66%' '99%' '83%' '88%' '71%' '92%' '40%' '86%' '60%' '96%' '94%'
 '98%' '78%' '89%' '57%' '73%' '37%' '93%']

In [168]:
#Convert columns: one two three four five stars to numbers
#The function to remove unwanted characters and extract values within
def extract_number(val):
    if isinstance(val, str):
        return val.strip("[]'")  #Remove unwanted characters.
    return val

#Apply funtion "extract_number" to each column
for column in new_data.columns[11:16]:
    new_data[column] = new_data[column].apply(extract_number)

In [169]:
new_data.head()

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,99%,100%,75%,0,0,0,0,0
1,dien thoai,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,99%,100%,85%,0,0,0,0,0
2,dien thoai,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,90%,NaN,100%,0,0,0,0,2
3,dien thoai,36.990.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,16.500 ₫,98%,82%,100%,0,0,0,0,0
4,dien thoai,32.126.000 ₫,NaN,28 Đã bán,(1),Hồ Chí Minh,38.470.000 ₫,18.300 ₫,98%,100%,100%,0,0,0,0,1

#### **II/ LLM**: Use a Large Language Model (LLM) to parse this unstructured data into features.

In [170]:
import requests
from tqdm import tqdm

# Khởi tạo phiên làm việc với requests
s = requests.Session()
api_base = "https://api.endpoints.anyscale.com/v1"
token = "esecret_u5quaabdqwm3bsk9z9tz5r4jc9"   #mở API code lên trước và đặt câu hỏi 
url = f"{api_base}/chat/completions"

def call_api(formatted_data):
    body = {
        "model": "meta-llama/Meta-Llama-3-70B-Instruct",
        "messages": [
            {
                "role": "user",
                "content": "Bạn là 1 trợ lí ảo về AI và có nhiệm vụ chính là chuẩn hóa data 1 cách chính xác nhất"
            },
            {
                "role": "assistant",
                "content": "Nice to meet you! As a virtual AI assistant, my primary responsibility is to standardize data with utmost accuracy. I'm here to help ensure that data is consistent, reliable, and error-free.\n\nTo achieve this goal, I'll follow a rigorous process to standardize data. Here's an overview of the steps I'll take:\n\n1. **Data Ingestion**: I'll collect and import data from various sources, such as CSV files, databases, or APIs.\n2. **Data Profiling**: I'll analyze the data to understand its structure, format, and quality. This includes identifying data types, formats, and potential errors.\n3. **Data Cleansing**: I'll Remove duplicates, handle missing values, and correct errors to ensure data consistency and integrity.\n4. **Data Transformation**: I'll convert data into a standardized format, such as date and time formats, to ensure consistency across the dataset.\n5. **Data Validation**: I'll check the data against a set of rules, constraints, and business logic to ensure it meets the required standards.\n6. **Data Normalization**: I'll normalize data to minimize data redundancy and improve data integrity.\n7. **Data Quality Check**: I'll perform final quality checks to ensure the data meets the required standards and"
            },
            {
                "role": "user",
                "content": f"Mỗi mục dữ liệu được ngăn cách bởi dấu phẩy. Không bỏ bất kì 1 mục nào, hãy chuẩn hóa thông tin về dạng số tương ứng, địa điểm thành không dấu, nếu là giá trị None thì ghi là None. Ngăn cách các giá trị bằng dấu phẩy. Chỉ hiển thị kết quả, không hiện bất cứ gì thêm. \n\n{formatted_data}"
            },
        ],
        "temperature": 0.5,
        "max_tokens": 256,
        "top_p": 1,
        "frequency_penalty": 0
    }

    response = s.post(url, headers={"Authorization": f"Bearer {token}"}, json=body)
    return response.json()

In [171]:
data_test = new_data.iloc[0:5, :]
data_test

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,99%,100%,75%,0,0,0,0,0
1,dien thoai,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,99%,100%,85%,0,0,0,0,0
2,dien thoai,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,90%,NaN,100%,0,0,0,0,2
3,dien thoai,36.990.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,16.500 ₫,98%,82%,100%,0,0,0,0,0
4,dien thoai,32.126.000 ₫,NaN,28 Đã bán,(1),Hồ Chí Minh,38.470.000 ₫,18.300 ₫,98%,100%,100%,0,0,0,0,1

In [172]:
def format_row(row):
    return ','.join(map(str, row.values))

results = []
for index, row in tqdm(data_test.iterrows(), total=data_test.shape[0], desc="Processing rows"):
    formatted_data = format_row(row)
    api_response = call_api(formatted_data)
    cleaned_data = api_response['choices'][0]['message']['content'].strip()
    results.append(cleaned_data.split(','))

Processing rows: 100%|██████████| 5/5 [00:16<00:00,  3.38s/it]

In [173]:
cleaned_df = pd.DataFrame(results, columns=data_test.columns)

In [174]:
cleaned_df

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,41.990000,7,11,None,Ho Chi Minh,44.990000,20.100,99,100,75,0,0,0,0,0,None
1,dien thoai,39890000,10,None,None,ha noi,44490000,38000,99,100,85,0,0,0,0,0
2,37.590.001,16,24,2,Ho Chi Minh,44.490.000,None,90,None,100,0,0,0,0,2,None
3,dien thoai,36990000,None,None,None,Ho Chi Minh,None,16500,98,82,100,0,0,0,0,0
4,dien thoai,32126000,None,28,1,Ho Chi Minh,38470000,18300,98,100,100,0,0,0,0,1